/* Základní reset stylů */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylování pro navigační lištu */
.navbar {
    padding: 10px;
    background-color: #333;
    display: flex;
    align-items: center; /* Zarovnání navigačních prvků na střed vertikálně */
    justify-content: flex-start; /* Zarovnání navigačních prvků vlevo horizontálně */
}

.navbar a {
    margin: 0 5px; /* Zmenšení mezer mezi prvky */
    color: white;
    text-decoration: none;
}