/* Základní reset stylů */
* {
    background-color: #444;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Stylování pro navigační lištu */
.navbar {
    padding: 50px;
    background-color: #333;
    display: flex;
    align-items: center; /* Zarovnání navigačních prvků na střed vertikálně */
    justify-content: flex-start; /* Zarovnání navigačních prvků vlevo horizontálně */
}
.search{
    border-radius: 50px;
    width: 50px;
    height: 90px;
}


